


//========================================
//          ALL DECLARE VARIABLE
//========================================
:root {
    --gray: #777777;
    --text: #555555;
    --dark: #0c131a;
    --white: #ffffff;
    --chalk: #f5f5f5;
    --border: #e8e8e8;
    --heading: #224673;
    --primary: #16bc7c;
    --gray-chalk: #cccccc;
    --feature-bg: #f5fdff;
    --review-bg: #f0f9f9;
    --define-bg: #f9fafc;
    --price-bg: #f1f3ff;
    --how-bg: #fff8f8;

    // BOX SHADOW
    --primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.08);

    // TEXT SHADOW
    --primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.08);
}
